<section id="board_lol">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="mt-0 text-primary">CNUsers</h2>
                <hr class="primary">
            </div>
        </div>
        <div class="btn-group" role="group">
    <button id="btnGroupDrop1" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      game list
    </button>
    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
      <a class="dropdown-item" href="#">Lol</a>
      <a class="dropdown-item" href="#">Suddenattack</a>
      <a class="dropdown-item" href="#">overwatch</a>
      <a class="dropdown-item" href="#">crazy arcade</a>
    </div>
  </div>
   <a href="/home/add"><button type="button"  class="btn btn-primary" style="float:right;">글쓰기</button></a>
    </div>
    
    <div class="container wow fadeInUp">
      <table class="table table-striped">
        <thead>
          <tr>
            <th style="width:5%;">#</th>
            <th style="width:30%;">글 쓴 이</th>
            <th style="width:30%;">제 목</th>
            <th style="width:20%;">시 간</th>
          </tr>
        </thead>
        <tbody>
          <% @posts.each do |p| %>
              <tr>
                <th scope="row"><%= p.id %></th>
                <td><%= p.post_name %></td>
                <td>
                  <a href="<%=("/home/body/" + p.id.to_s)%>">
                  <%= p.post_title %>
                  </a>
                </td>
                <td style="font-size:70%"><%= p.post_time %></td>
              </tr>
          <%end%>
        </tbody>
      </table>
      <div class="digg_pagination">
        <div class="page_info">
          <%= page_entries_info @posts %>
        </div>
          <%= will_paginate @posts %>
      </div>
        <%= form_tag "/home/board_lol", :method => 'get', :class =>'search-bar' do %>
            <%= text_field_tag :search, params[:search] %>
            <%= submit_tag "Search", :name => nil ,:class => 'btn btn-primary search-button' %>
        <% end %>
    </div>
</section>


