<section id="list">
       <div class="container wow fadeInUp listpage">
        <h2>게임 리스트</h2>
        <p class="lead">
            온라인 게임리스트입니다.
        </p>
        <div class="card-group row">
            <div class="card" sytle="width:100%">
                <div class="card-block">
                    <a href="/home/board_lol"><img src="/assets/lol.png" id="lol" width="300"  height="120" class="rounded mx-auto d-block" alt="..."></a>
                    
                    <h4 class="card-title">리그오브레전드<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <img src="/assets/overwatch.jpg" id="overwatch" width="300"  height="120" class="rounded mx-auto d-block" alt="...">

                    <h4 class="card-title">오버워치<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <img src="/assets/suddenattack.png" id="suddenattack" width="300"  height="120" class="rounded mx-auto d-block" alt="...">

                    <h4 class="card-title">서든어택<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                     <img src="/assets/maplestory.jpg" id="maplestory" width="300"  height="120" class="rounded mx-auto d-block" alt="...">

                    <h4 class="card-title">메이플스토리<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                     <img src="/assets/df.jpg" id="df" width="300"  height="120" class="rounded mx-auto d-block" alt="...">

                    <h4 class="card-title">던전앤파이터<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
             <div class="card">
                <div class="card-block">
                     <img src="/assets/kr.jpg" id="kr" width="300"  height="120" class="rounded mx-auto d-block" alt="...">
                    <h4 class="card-title">카트라이더<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
             <div class="card">
                <div class="card-block">
                     <img src="/assets/fifa3.jpg" id="fifa3" width="300"  height="120" class="rounded mx-auto d-block" alt="...">
                    <h4 class="card-title">피파온라인3<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
             <div class="card">
                <div class="card-block">
                     <img src="/assets/crazyarcade.jpg" id="crazyarcade" width="300"  height="120" class="rounded mx-auto d-block" alt="...">
                    <h4 class="card-title">크레이지아케이드<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
             <div class="card">
                <div class="card-block">
                     <img src="/assets/lineage.jpg" id="lineage" width="300"  height="120" class="rounded mx-auto d-block" alt="...">
                    <h4 class="card-title">리니지<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
        </div>
        
         <p class="lead">
            모바일 게임리스트입니다.
        </p>
        
        
        <div class="card-group row">
            <div class="card">
                <div class="card-block">
                    <img src="/assets/lineage2rev.jpg" id="lineage2rev" width="300"  height="120" class="rounded mx-auto d-block" alt="...">
                    <h4 class="card-title">리니지2레볼루션<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <img src="/assets/모두의 마블.jpg" id="모두의 마블" width="300"  height="120" class="rounded mx-auto d-block" alt="...">
                    <h4 class="card-title">모두의 마블<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <img src="/assets/seven.jpg" id="seven" width="300"  height="120" class="rounded mx-auto d-block" alt="...">
                    <h4 class="card-title">세븐나이츠<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <img src="/assets/clashroyal.jpg" id="clashroyal" width="300"  height="120" class="rounded mx-auto d-block" alt="...">
                    <h4 class="card-title">클래시로얄<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <img src="/assets/hearthstone.jpg" id="hearthstone" width="300"  height="120" class="rounded mx-auto d-block" alt="...">
                    <h4 class="card-title">하스스톤<%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
            <div class="card">
                <div class="card-block">
                    <img src="/assets/coc.jpg" id="coc" width="300"  height="120" class="rounded mx-auto d-block" alt="...">
                    <h4 class="card-title">클래시 오브 클랜</h4><%=%></h4>
                    <h5 class="card-text"><%=%></h5>
                    <p class="card-text"><%=%></p>
                </div>
            </div>
        </div>
    </div>
</section>